.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#table-match-info {
  cursor: pointer;
}

body{
background: url(assets/bg.png) no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
}

#match-info-container {
  display: block;
  height: 85vh;
  color: rgb(212, 221, 221);
}

#home-title {
  padding-top: 17vh;
  padding-left: 12vw;
  padding-right: 10vw;
}

#home-title h1 {
  color: #f8f6f6;
  font-weight: bold;
  font-size: 65px;
  text-shadow: 0 0 3px #000000;
}

#dropdown-basic:hover {
  color: rgb(129, 205, 255);
}

#home-redirect {
  transition: 0.3s ease-out;
}

#home-redirect:hover {
  color: rgb(185, 185, 185);
}

#home-title h6{
  color: #689bff;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 4s forwards;
  font-size: 1.6rem;
  width: 0;
}

#winner-td {
  background-image: radial-gradient( circle farthest-corner at 10% 20%, #50db53 0%, #28d1ab 90% );
}

#loser-td {
  background-image: radial-gradient( circle farthest-corner at 10% 20%, #D7816A  0%, #bb5872 90% );
}

#draw-left-td {
  background-image: radial-gradient( circle farthest-corner at 10% 20%, #FFDD00  0%, #f78a16 90% );
}

#draw-right-td {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #f78a16 0%, #FFDD00  90%);
}

#postponed-left-td {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #1C1C1C  0%, #494949   90%);
}

#postponed-right-td {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #494949  0%, #1C1C1C   90%);
}

#winner-td, #loser-td, #draw-left-td, #draw-right-td, #postponed-right-td, #postponed-left-td, #table-venue, #info-container, #home-title h6 {
  font-family: 'Martian Mono';
}

#winner-td, #loser-td, #draw-left-td, #draw-right-td, #postponed-right-td, #postponed-left-td{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px #000000;
}

#thead-columns-tr th{
  background: rgb(11, 104, 233);
}

#tbody-title {
  background: rgb(5, 21, 43);
}

#table-matchdate, #table-result, #table-halftime, #table-venue {
  font-weight: bold;
  background: rgb(16, 36, 59);
}

#navbar-div {
  background-color: rgba(5, 21, 43, 0.95);
}

#info-container {
  height: 87vh;
  background-color: rgba(5, 21, 43, 0.7);
  color: rgb(182, 159, 159);
  position: relative;
  margin: 30px;
  font-family: 'Martian Mono';
}

#info-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
}

#info-content {
  font-size: 22px;
  margin: 20px;
  height: auto;
}

#info-div {
  margin-top: 30px;
  height: 70vh;
  overflow: auto;
  animation: 
    typing 2s forwards;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media only screen and (max-width: 978px){
#home-title {
    padding: 1.1rem;
    text-align: center;
}
#home-title h1 {
  font-size: 44px;
}
#home-title h5 {
  font-size: 15px;
}
#info-header h1 {
  font-size: 20px;
}
}